body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.album {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cover {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, #0052cc, #000);
    border-radius: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    font-size: 12px;
}

.album-info h1 {
    font-size: 24px;
    margin: 0;
}

.album-info p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #ccc;
}

.track-list {
    width: 100%;
    max-width: 400px;
}

.track {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

.track-name {
    font-size: 18px;
    font-weight: bold;
}

.track-duration {
    font-size: 14px;
    color: #aaa;
}

.menu-button {
    background-color: #333;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    text-align: left;
}

.dropdown-content {
    display: none;
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
    max-width: 100%;
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
}

.controls-container {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

.controls {
    padding: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    height: 40px;
    cursor: pointer;
    justify-content: end;
    align-self: end;
}

/*Tumbler*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;}
input:checked + .slider {
    background-color: #0044a9;}
input:checked + .slider:before {
    transform: translateX(30px);}
